{% extends 'base-back.html.twig' %}

{% block title %}Teams index{% endblock %}

{% block body %}
    <h1>Teams index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.Name }}</td>
                <td>{{ team.description }}</td>
                <td>{{ team.image }}</td>
                <td>
                    <a href="{{ path('app_teams_show', {'id': team.id}) }}">show</a>
                    <a href="{{ path('app_teams_edit', {'id': team.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_teams_new') }}">Create new</a>
{% endblock %}
