{% extends 'base_back.html.twig' %}

{% block body %}

       <div class="nk-info-box nk-info-box-noicon">
    <div class="container-xl">  
        <h1> Ajout Admin </h1> 
        {{ form_start(form) }}   
         {{ form_row(form.username, {label:'Prénom','attr': {placeholder : 'Prénom'} })}}
         {{ form_row(form.lastname, {label:'Nom','attr': {placeholder : 'Nom'} })}}
         {{ form_row(form.email,  {label:'E-mail','attr': {placeholder : 'E-mail'} })}}
         {{ form_row(form.gender)}}
         {{ form_row(form.Age,  {label:'Age','attr': {placeholder : 'Age'} })}}
         {{ form_row(form.password, )}}
         {{ form_row(form.confirm_password)}}
         {{ form_row(form.country, {label:'Pays','attr': {placeholder : 'Pays'} })}}
         {{ form_row(form.codepost)}}
         {{ form_row(form.aboutme)}}
         <button type="submit" class="nk-btn nk-btn-rounded nk-btn-color-dark-3">
                        <span>Envoyer Formulaire</span>
                        <span class="icon"><i class="ion-paper-airplane"></i></span>
         </button>
        {{form_end(form)}}


{% endblock %}