{% for product in products %}
    <div class="col-lg-6">
        <div class="nk-product-cat-2">
            <a class="nk-product-image" href="{{ path('product_show', {'id': product.id}) }}">
                <img src="{{ asset('uploads/') ~product.image}}" alt="So saying he unbuckled">
            </a>
            <div class="nk-product-cont">
                <h3 class="nk-product-title h5"><a href="store-product.html">{{ product.name }}</a></h3>
                <div class="nk-gap-1"></div>
                <div class="nk-product-rating" data-rating="4">
                    {% for r in 1..(product.rate|round(0, 'floor')  )   %}
                        <i class="fa fa-star"></i>
                    {% endfor %}
                    {% if product.rate - product.rate|round(0, 'floor')   !=0 %}
                        <i class="fas fa-star-half"></i>
                    {% endif %}
                    {% if product.rate - product.rate|round(0, 'floor')   ==0 %}
                        {% for r in 1..((5-product.rate)|round(0, 'floor'))|abs  %}
                            <i class="far fa-star"></i>
                        {% endfor %}
                    {% endif %}


                </div>
                <div class="nk-gap-1"></div>
                {{ product.description }}
                <div class="nk-gap-2"></div>
                <div class="nk-product-price">€ {{ product.price }}</div>
                <div class="nk-gap-1"></div>
                <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Add to Cart</a>
            </div>
        </div>
    </div>
{% endfor %}
